#header {
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-bg-header);
}

.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-medium);
    font-weight: 800;
    cursor: pointer;
}